{% extends 'base.html.twig' %}

{% block title 'Acceuil'%}

{% block body %}

<div class="header">
    <div class="overlay">
        <h1>Agence immobilière</h1>
        <h4>Reasons for Choosing US</h4>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero nostrum quis, odio veniam itaque ullam debitis qui magnam consequatur ab. Vero nostrum quis, odio veniam itaque ullam debitis qui magnam consequatur ab.</p>
        <br>
        <a class="btn btn-info" href="{{ path('about') }}">A propos de l'agence</a>
    </div>
</div>

<div class="container"> 
    <h2>Les derniers biens</h2>
    <div class="row flex">
        {% for property in properties %}
            <div class="col-md-4">
                {% if property.filename %}
                     <img src="{{ vich_uploader_asset(property, 'imageFile') | imagine_filter('thumb') }}" alt="Image du bien à la une" class="card-img-top">
                 {% else %}
                    <img src="{{ "/images/properties/empty.jpg" | imagine_filter('thumb') }}" alt="Image du bien à la une" class="card-img-top">
                 {% endif %}
                <div class="card">
                    <div class="card-body">
                         <h5 class="card-title"> 
                            <a href="{{ path('property.show', {id: property.id, slug: property.slug}) }}"> {{ property.title }} </a>
                         </h5>
                         <p class="card-text">{{ property.city }} ({{ property.postalCode }}) </p>
                         <div class="text-primary">{{ property.formattedPrice }} € </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

</div>

{% endblock %}